<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title>Welcome Back Peterson!</ion-card-title>
        <ion-card-subtitle>please do ensure to check out your watermelonfarm Today!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
      <!-- Default Searchbar -->
 
                          
      
            </ion-conten>