.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.html {
  --ion-color-primary: #ecf0f1;
  --ion-color-secondary: #e74c3c;
  --ion-color-danger: #f53d3d;
  --ion-color-light: #e74c3c;
  --ion-color-dark: #222222;
}

ion-card{
  background: none;
  box-shadow: none;
  margin-top: 5px;
}

ion-card-subtitle{
  text-transform: none;
}