<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top: 0px;">
      <ion-card-header>
        <ion-card-title color="primary" style="font-size: 20px;">Welcome Back Peterson!</ion-card-title>
        <ion-card-subtitle>Please do ensure to check out your watermelonfarm Today!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
      <!-- Default Searchbar -->
  <ion-searchbar></ion-searchbar>
   <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
      
      <ion-card>
        <ion-item>
            <ion-grid>
               <ion-icon name="more" item-right style="float: right;"></ion-icon>
               <ion-icon name="pizza" slot="start"></ion-icon>
               <ion-label>Maize Plantation I</ion-label>
                
               <ion-row>
                  <ion-col size="4">
                    sun
                  <ion-icon name="partly-sunny"></ion-icon>
                  </ion-col>
                  <ion-col size="4">
                    45*
                  <ion-icon name="thermometer"></ion-icon>
                  </ion-col>
                  <ion-col size="4">
                    new
                  <ion-icon name="notifications-outline"></ion-icon>
                  </ion-col>
                </ion-row>
            </ion-grid>      
         
        </ion-item>
      </ion-card>
      <ion-card>
          <ion-item>
              <ion-grid>
                 <ion-icon name="pizza" slot="start"></ion-icon>
                 <ion-label>Soya Beans</ion-label>
                  
                 <ion-row>
                    <ion-col size="4">
                      sun
                    <ion-icon name="partly-sunny"></ion-icon>
                    </ion-col>
                    <ion-col size="4">
                      45*
                    <ion-icon name="thermometer"></ion-icon>
                    </ion-col>
                    <ion-col size="4">
                      new
                    <ion-icon name="notifications-outline"></ion-icon>
                    </ion-col>
                  </ion-row>
              </ion-grid>      
           
          </ion-item>
        </ion-card>
        <ion-card>
            <ion-item>
                <ion-grid>
                   <ion-icon name="pizza" slot="start"></ion-icon>
                   <ion-label>Rice</ion-label>
                    
                   <ion-row>
                      <ion-col size="4">
                        sun
                      <ion-icon name="partly-sunny"></ion-icon>
                      </ion-col>
                      <ion-col size="4">
                        45*
                      <ion-icon name="thermometer"></ion-icon>
                      </ion-col>
                      <ion-col size="4">
                        new
                      <ion-icon name="notifications-outline"></ion-icon>
                      </ion-col>
                    </ion-row>
                </ion-grid>      
             
            </ion-item>
          </ion-card>
          <ion-card>
              <ion-item>
                  <ion-grid>
                     <ion-icon name="pizza" slot="start"></ion-icon>
                     <ion-label>Groundnuts</ion-label>
                      
                     <ion-row>
                        <ion-col size="4">
                          sun
                        <ion-icon name="partly-sunny"></ion-icon>
                        </ion-col>
                        <ion-col size="4">
                          45*
                        <ion-icon name="thermometer"></ion-icon>
                        </ion-col>
                        <ion-col size="4">
                          new
                        <ion-icon name="notifications-outline"></ion-icon>
                        </ion-col>
                      </ion-row>
                  </ion-grid>      
               
              </ion-item>
            </ion-card>
            <ion-card>
                <ion-item>
                    <ion-grid>
                       <ion-icon name="pizza" slot="start"></ion-icon>
                       <ion-label>Cow Pea</ion-label>
                        
                       <ion-row>
                          <ion-col size="4">
                            sun
                          <ion-icon name="partly-sunny"></ion-icon>
                          </ion-col>
                          <ion-col size="4">
                            45*
                          <ion-icon name="thermometer"></ion-icon>
                          </ion-col>
                          <ion-col size="4">
                            new
                          <ion-icon name="notifications-outline"></ion-icon>
                          </ion-col>
                        </ion-row>
                    </ion-grid>      
                 
                </ion-item>
              </ion-card>
                          
      
</ion-content>
